.footer-wrapper {

  .footer-content {
    width: 100%;
    justify-content: center;

    >div {
      display: flex;
      justify-content: space-between;
      width: 70%;
      >div{
        width: calc(100% / 5 - 8px);
        margin: 0 12px;
        .title {
          font-weight: 700;
          font-size: 16px;
          color: #0F1824;
          margin-bottom: 12px;
        }
        >div {
          margin: 12px 0;
          color: #67747c;
          &:hover {
            color: #0088FF;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
     
    }

  }
}