.top-destination {
  width: 100%;
  display: flex;
  justify-content: center;

  .destination-wrapper{
    width: 70%;
    .title {
      font-size: 24px;
      font-weight: 500;
      color: #0F1824;
    }

    .divide-1 {
      display: flex;
      justify-content: center;
      margin: 24px auto;
      width: 60px;
      height: 2px;
      background: red;
    }
  
    .list-destination {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .destination-item {
        width: calc(100% / 4 - 18px);
        height: 250px;
        border: 1px solid #D3D5D7;
        border-radius: 4px;
        margin-right: 24px;
        position: relative;
        cursor: pointer;
        &.item-0 {
          width: calc(100% / 2 - 12px) !important;
          margin-right: 12px;
          margin-bottom: 24px;
        }
        &.item-1 {
          width: calc(100% / 2 - 12px) !important;
          margin-left: 12px;
          margin-right: unset;
          margin-bottom: 24px;
        }
        &.item-5 {
          margin-right: unset;
        }
  
        .image {
          width: 100%;
          height: 100%;
        }
        .location {
          position: absolute;
          top: 30px;
          left: 30px;
          font-weight: 700;
          color: #FFFFFF;
        }
        .divide {
          width: 60px;
          height: 2px;
          background: #FFFFFF;
          position: absolute;
          top: 65px;
          left: 30px;
        }
        .services {
          display: none;
          position: absolute;
          top: 75px;
          left: 30px;
          font-weight: 500;
          color: #FFFFFF;
        }
        &:hover {
          .services {
            display: block;
          }
        }
      }
    }
  }


}