.blog-detail-wrapper {
  .blog-detail-content-wrapper {
    margin-bottom: 40px;
    .bread-scrum {
      margin-left: 15%;
      .text {
        margin-right: 8px;
        color: #67747c;
        &:nth-child(1), &:nth-child(2) {
          &:hover {
            color: #0088FF;
            cursor: pointer;
            font-weight: 500;
          }
        }
      }
    }
    .containers {
      margin: 0 15%;
    }
    .category {
      margin-top: 8px;
      padding-right: 12px;
      border-right: 1px solid #D3D5D7;
      padding-left: 12px;
      font-size: 13px;
      &:first-child {
        padding-left: unset;
      }
    }
    .product {
      h4 {
        margin-right: 8px;
        color: #0088FF;
        text-align: center;
      }
      .sub-description {
        display: flex;
        align-items: center;
        i {
          margin-right: 12px;
          color: orangered;
        }
      }
      button {
        color: #FFFFFF;
        height: 44px;
        padding: 8px 12px;
        background-color: #0088FF;
      }
      img {
        width: 100%;
        height: 100%;
        background-size: covers;
      }
    }
  }
  .description {
    color: #77838f;
    font-size: 14px;
    line-height: 20px;
  }
  .comment-list {
    margin-top: 40px;
    margin-left: 4px;
    .total-comment {
      color: #3b444f;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 12px;
    }
    .comment-item {
      height: 80px;
      .account {
        .icon {
          margin-right: 4px;
          font-size: 20px;
        }
        .user-name {
          margin-left: 4px; 
          color: #3b444f;
          font-size: 18px;
        }
      }
      .comment-content {
        color: #77838f;
        margin-left: 24px;
      }
    }
  }
}